
<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url"
      placeholder="http://"
      value="{{ instrutor.avatar_url }}"
    >
  </div>
</div>

<div class="item">
  <div>Membro</div>
  <div>
    <input 
      type="text" 
      name="nome"
      placeholder="Nome do Instrutor"
      value="{{ instrutor.nome }}"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="nascimento"
      value="{{ instrutor.nascimento }}"
    >
  </div>
</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span>
      <input 
        type="radio" 
        name="genero" 
        value="M" 
        {% if instrutor.genero == 'M' %}
          checked
        {% endif %}
      >
      Masculino
    </span>

    <span>
      <input 
        type="radio" 
        name="genero" 
        value="F"
        {% if instrutor.genero == 'F' %}
          checked
        {% endif %}
      >
      Feminino
    </span>
  </div>
</div>

<div class="item">
  <div>Area de atuação</div>
  <div>
    <input
      type="text" 
      name="servicos"
      placeholder="Separe os serviços prestados por vírgula"
      value="{{ instrutor.servicos }}"
    >
  </div>
</div>

<button type="submit">Salvar</button>