{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url({{instrutor.avatar_url}}) no-repeat center center / cover"></section>
    <section class="details">
      <h3>Detalhes</h3>
      <div class="item">
        <div>Instrutor</div>
        <div>{{instrutor.nome}}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{instrutor.idade}}</div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div>{{"Masculino" if instrutor.genero == "M" else "Feminino"}}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for servico in instrutor.servicos %}
            <span>{{servico}}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{instrutor.data_registro}}</div>
      </div>

      <a href="/instrutores/{{instrutor.id}}/editar" class="button">Editar</a>
    </section>
  </div>
{% endblock content %}