@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
  --primary-color: #7159c1;
  --secondary-color: #F7DF1E;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

header {
  background-color: white;
  width: 100%;
  padding: 32px;
  text-align: center;
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.links a:hover {
  color: var(--primary-color);
}

.links a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

/* Card */

.card {
  width: 800px;
  min-height: 400px;
  background-color: #FFF;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
  animation: up 200ms ease; /* resumindo as 3 props abaixo */
  /* animation-name: up; */
  /* animation-duration: 700ms; */
  /* animation-timing-function: ease-out; */
  /* animation-fill-mode: forwards; /* faz a animação parar no ponto final */
  /* animation-play-state: paused; /* deixa a animação pausada, podendo ser acionada com JS */
  /* animation-iteration-count: 3; /* número de vezes que a animação vai rodar */
  /* animation-direction: reverse; /* se a animação começa de cima pra baixo, irá começar de baixo pra cima */
}

@keyframes up {
  from { /* 0% */
    opacity: 0;
    transform: translateY(15px);
  }

  to { /* 100% */
    opacity: 1;
  }
}

/* Card Details */

.details {
  padding: 32px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.details .item:last-child {
  border: none;
}

.details h3,
.details .item div:nth-child(1) {
  font-size: 14px;
  line-height: 28px;
  color: #777;
  letter-spacing: 0.7px;
  font-weight: normal;
}

.details .item div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

.details .item span {
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: #777;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

/* Formulário */ 

input {
  width: 100%;
  outline: none;
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
  cursor: pointer;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

button[type="submit"],
a.button {
  width: 100%;
  padding: 8px 32px;
  background-color: var(--primary-color);
  border-radius: 4px;
  margin-top: 32px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

a.button {
  display: block;
  text-align: center;
  text-decoration: none;
}

#form-delete button[type="submit"] {
  margin-top: 8px;
  background-color: lightcoral;
}

/* Listagem Instrutores */

.table-container {
  display: block;
  padding: 40px;
}

.table-container table {
  border-spacing: 0;
}

.table-container thead tr th {
  text-align: left;
}

td, th {
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

tbody tr:last-child td {
  border: none;
}