{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">
    <a href="/instrutores/criar">Criar Novo Instrutor</a>
    <table width="100%">
      <thead>
        <tr>
          <th>Instrutor</th>
          <th>Atendimento</th>
          <th>Ação</th>
        </tr>
      </thead>

      <tbody>
        {% for instrutor in instrutores %}
          <tr>
            <td>
              <span style="background-image: url({{ instrutor.avatar_url }})"></span>
              {{ instrutor.nome }}
            </td>
            <td><span class="btn-servicos">{{ instrutor.servicos }}</span></td>
            <td><a href="/instrutores/{{ instrutor.id }}">ver</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}