
<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url"
      placeholder="http://"
      value="{{ membro.avatar_url }}"
    >
  </div>
</div>

<div class="item">
  <div>Membro</div>
  <div>
    <input 
      type="text" 
      name="nome"
      placeholder="Nome do Membro"
      value="{{ membro.nome }}"
    >
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div>
    <input 
      type="email" 
      name="email"
      value="{{ membro.email }}"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date" 
      name="nascimento"
      value="{{ membro.nascimento }}"
    >
  </div>
</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span class="btn-servicos">
      <input 
        type="radio" 
        name="genero" 
        value="M" 
        {% if membro.genero == 'M' %}
          checked
        {% endif %}
      >
      Masculino
    </span>

    <span class="btn-servicos">
      <input 
        type="radio" 
        name="genero" 
        value="F"
        {% if membro.genero == 'F' %}
          checked
        {% endif %}
      >
      Feminino
    </span>
  </div>
</div>

<div class="item">
  <div>Tipo Sanguíneo</div>
  <div>
    <select name="tipo_sanguineo">
      <option 
        value="A+" 
        {% if membro.blood == "A+"%} selected {% endif %}>
        A+
      </option>
      <option 
        value="A-" 
        {% if membro.blood == "A-"%} selected {% endif %}>
        A-
      </option>
      <option 
        value="B+" 
        {% if membro.blood == "B+"%} selected {% endif %}>
        B+
      </option>
      <option 
        value="B-" 
        {% if membro.blood == "B-"%} selected {% endif %}>
        B-
      </option>
      <option 
        value="AB+" 
        {% if membro.blood == "AB+"%} selected {% endif %}>
        AB+
      </option>
      <option 
        value="AB-" 
        {% if membro.blood == "AB-"%} selected {% endif %}>
        AB-
      </option>
      <option 
        value="O+" 
        {% if membro.blood == "O+"%} selected {% endif %}>
        O+
      </option>
      <option 
        value="O-" 
        {% if membro.blood == "O-"%} selected {% endif %}>
        O-
      </option>
    </select>
  </div>
</div>

<div class="item">
  <div>Peso (Kg)</div>
  <div>
    <input 
      type="number" 
      name="peso"
      value="{{ membro.peso }}"
    >
  </div>
</div>

<div class="item">
  <div>Altura (cm)</div>
  <div>
    <input 
      type="number" 
      name="altura"
      value="{{ membro.altura }}"
    >
  </div>
</div>

<button type="submit">Salvar</button>