{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url({{membro.avatar_url}}) no-repeat center center / cover"></section>
    <section class="details">
      <h3>Detalhes</h3>
      <div class="item">
        <div>Membro</div>
        <div>{{membro.nome}}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{membro.email}}</div>
      </div>

      <div class="item">
        <div>Aniversário</div>
        <div>{{membro.nascimento}}</div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div>{{"Masculino" if membro.genero == "M" else "Feminino"}}</div>
      </div>

      <div class="item">
        <div>Tipo Sanguíneo</div>
        <div>{{ membro.tipo_sanguineo }}</div>
      </div>

      <div class="item">
        <div>Peso (Kg)</div>
        <div>{{membro.peso}}</div>
      </div>

      <div class="item">
        <div>Altura (cm)</div>
        <div>{{membro.altura}}</div>
      </div>

      <a href="/membros/{{membro.id}}/editar" class="button">Editar</a>
    </section>
  </div>
{% endblock content %}